<div class="home-footer">
  <div class="footer">
    <div class="footer-logo">
      <a href="/home.html" class="navbar-wagon-brand">
        <img src="images/logo2.png" alt="logo">
      </a>
    </div>
    <div class="footer-menu">
      <li ><%= link_to "ACCUEIL", '/home.html' %></li>
      <li><%= link_to "À PROPOS", '/about.html' %></li>
      <li><%= link_to "CONTACT", '/contact.html' %></li>
    </div>
    <div class="footer-links">
      <!-- <a href="#"><i class="fa fa-github"></i></a> -->
      <a href="https://www.instagram.com/ferronvalentin/" target="_blank"><i class="fa fa-instagram"></i></a>
      <a href="https://www.facebook.com/valentin.ferron.9?ref=bookmarks" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://twitter.com/FerronValentin" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/valentin-ferron-8722b491/" target="_blank" ><i class="fa fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      © 2017 Valentin Ferron.
    </div>
  </div>
</div>
