.about-class {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content {
  width: 60%;
  border-radius: 2px;
  padding-top: 59px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 58px;
  background-color: $color-main;
  p {
    color: white;
    font-size: 14px;
  }
}

.about-title-content {
  position: relative;
  top: 25px;
  left: -115px;
  h2 {
    color: $gray;
    font-size: 49px;
    font-weight: bolder;
  }
  p {
    font-size: 35px;
    color: $color-main;
  }
}
