.about-content {
  background-color: #fb5353;
  padding-top: 59px;
  padding-left: 70px;
  padding-right: 67px;
  padding-bottom: 58px;
  p {
    color: white;
    font-size: 14px;
  }
}

.about-title-content {
  padding-bottom: 115px;
  padding-left: 30px;
  h2 {
    color: rgb(50,50,50);
    font-size: 49px;
    font-weight: bolder;
  }
  p {
    font-size: 35px;
    color: $color-main;
  }
}
