---
title: Valentin Ferron | À propos
---
<div class="container about-class">
  <!-- <div class="col-xs-12 col-sm-6 col-sm-offset-4"> -->
    <div class="about-title-content">
      <%= image_tag "profil.png", width: 275 %>
    </div>
  <!-- </div> -->

  <!-- <div class="col-xs-12 col-sm-4 col-sm-offset-4"> -->
  	<div class="about-content">
      <p>Après cinq années passées dans le secteur juridique à relire des contrats en tous genres, j'ai décidé de plaquer le papier pour le web.</p>
      <p>Une formation au Wagon et quelques projets plus tard, je décide de lancer mon activité de webdesigner en freelance.</p>
      <p>J’interviens sur des missions de création et d’exécution aussi bien en PRINT qu’en WEB avec INTÉGRATION html/css (+ développement wordpress).</p>
      <p>N'hésitez pas à me contacter pour toute demande de devis personnalisé.</p>
    </div>
  <!-- </div> -->
</div>
