---
title: Valentin Ferron - Contact
---
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
  <div class="contact-content">
    <h2>Restons en contact</h2>
    <p>
    <a href="mailto:ferron.vale@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>  ferron.vale@gmail.com</a>
    </p>
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	<div class="card-content">
  <iframe src="https://snazzymaps.com/embed/33483" width="100%" height="350px" style="border:none;"></iframe>
  </div>
</div>

<div class="container">
  <div class="simple-form">
    <form action="https://getsimpleform.com/messages?form_api_token=8e394b20a9f5ac1cf59a9b4e4ad2255b" method="post">
      <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
      <input type='hidden' name='redirect_to' value='http://localhost:4567' />
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <input type='name' name='name' class='input-form' placeholder="Nom" />
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <input type='email' name='email' class='input-form' placeholder="Email"/>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <input type='description' class='input-message' placeholder="Votre message">
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-4 btn-contact">
      <input type='submit' value='Envoyer' class="btn-form" />
      </div>
    </form>
  </div>
</div>
